In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('house.csv')

In [3]:
df.head()

,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.09,1.0,296.0,15.3,396.9,4.98,24.0
0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7

In [4]:
df.columns=['CRIM','ZN','INDUS','CHAS','NDX','RM','AGE','DIS','RAD','TAX','PTRATID','BSA','LASTH','MEDV']

In [5]:
df.head()

,CRIM,ZN,INDUS,CHAS,NDX,RM,AGE,DIS,RAD,TAX,PTRATID,BSA,LASTH,MEDV
0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7

In [7]:
X=df[['RM']].values
y=df[['MEDV']].values

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
lr=LinearRegression()
pr1=LinearRegression()   #training feature
pr2=LinearRegression()   #test quad feature

In [40]:
quadratic=PolynomialFeatures(degree=2)
cube=PolynomialFeatures(degree=3)

In [41]:
X_quad= quadratic.fit_transform(X)
X_cube=cube.fit_transform(X)

In [42]:
lr.fit(X,y)
pr1.fit(X_quad,y)
pr2.fit(X_cube,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
y_lr=lr.predict(X)
y_quad=pr1.predict(X_quad)
y_cube=pr2.predict(X_cube)

In [44]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
print('R2 score',(r2_score(y,y_lr),
                  r2_score(y,y_quad),
                 r2_score(y,y_cube)))

R2 score (0.48353181432561443, 0.5484028641781639, 0.5612102649349011)

In [45]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
dtr=DecisionTreeRegressor()
rfr=RandomForestRegressor()

In [46]:
dtr.fit(X,y)
rfr.fit(X,y)

c:\users\tarun singh mahar\appdata\local\programs\python\python37\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
c:\users\tarun singh mahar\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [47]:
y_dtr=dtr.predict(X)
y_rfr=rfr.predict(X)

In [51]:
from sklearn.metrics import r2_score
print('R2 score',(r2_score(y,y_dtr),
                  r2_score(y,y_rfr)))

R2 score (0.9473682857119105, 0.8600034258672317)